In [1]:
import loan_screening_pdf_loader as ll

In [2]:
dfs = ll.table2df('C:/Users/user/downloads/test3.pdf')
dfs

[                                                 발급번호       Col1  \
 0                                                           None
 1                                                 주 소       None
 2                                                 성 명       None
 3                       ◇ 종합소득세 신고(결정·경정) 현황 (단위 : 원)       None
 4                                                 구 분       None
 5                                                None       None
 6                                                수입금액       None
 7                                                소득금액       None
 8   * 종합과세 소득금액은 이월결손금을 공제하지 않은 금액임\n* 분리과세 : 종합소득...       None
 9                                                 구 분  소 득 발 생 처
 10                                               None    법인명(상호)
 11                                               사업소득
 12                                               근로소득
 13                                               연금소득
 14                                              종교인소득
 15  (납세자가 신청한 증명 귀속연도 : . ～ . ) 위와 같이\n증명합니다.\n※ 위...       None
 16                                          ◊ 용 어 설 명       None
 17                                                구 분       None
 18                                            이 자 소 득       None
 19                                            배 당 소 득       None
 20                                            사 업 소 득       None
 21                                            근 로 소 득       None
 22                                            연 금 소 득       None
 23                                            기 타 소 득       None
 24                                          종 교 인 소 득       None
 25                                               접수번호       None
 26                                                          None
 27                                               None       None

          소 득 금 액 증 명(개정후)\n(2020 년 귀속)  Col3     Col4  Col5    Col6      Col7  \
 0                                 None  None     None  None    None      None
 1                                       None     None  None    None      None
 2                                       None     None  None    None      None
 3                                 None  None     None  None    None      None
 4                                 종합과세  None     None  None    None      None
 5                                   이자    배당     None  None      사업        근로
 6                                 4000  3000     None  None  100000  30000000
 7                                 4000  3000     None  None   70000  27000000
 8                                 None  None     None  None    None      None
 9                                 None  None     None  None    None      None
 10                                None  None  사업자등록번호  None    None      None
 11                                None  None           None    None      None
 12                                None  None           None    None      None
 13                                None  None           None    None      None
 14                                None  None           None    None      None
 15                                None  None     None  None    None      None
 16                                None  None     None  None    None      None
 17                        수입금액·지급받은 총액  None     None  None    None      None
 18                        지급받은 이자소득 총액  None     None  None    None      None
 19                        지급받은 배당소득 총액  None     None  None    None      None
 20                          지급받은 총수입금액  None     None  None    None      None
 21  · 근로자가 지급받은 총급여액\n· 일용근로자가 지급받은 총액  None     None  None    None      None
 22                    공적기관에서 지급받은 총연금액  None     None  None    None      None
 23                        지급받은 기타소득 총액  None     None  None    None      None
 24                      종교단체에서 지급받은 총액  None     None  None    None      None
 25                                  구분  None     None  담당부서    None      None
 26                               증명발급자  None     None          None      None
 27                               세적담당자  None     None          None      None

            Col8  Col9                                   Col10 Col11 Col12  \
 0          None  None                                    None  None  None
 1          None  None                                    None  None  None
 2   주 민 등 록 번 호  None                                    None  None  None
 3          None  None                                    None  None  None
 4          None  None                                    None  None  None
 5          None    연금                                    None  None    기타
 6          None     0                                    None  None     -
 7          None     0                                    None  None     -
 8          None  None                                    None  None  None
 9     지급받은\n총 액  None                                    None  소득금액  None
 10         None  None                                    None  None  None
 11               None                                    None        None
 12               None                                    None        None
 13               None                                    None        None
 14               None                                    None        None
 15         None  None                                    None  None  None
 16         None  None                                    None  None  None
 17         None  None                                 소 득 금 액  None  None
 18         None  None                      지급받은 이자소득(필요경비 없음)  None  None
 19         None  None                      지급받은 배당소득(필요경비 없음)  None  None
 20         None  None     총수입금액에서 필요경비 차감한 금액 (연말정산 사업소득\n포함)  None  None
 21         None  None  · 총급여액에서 근로소득공제 후 금액\n· 일용근로자가 지급받은 총액  None  None
 22         None  None                      총연금액에서 연금소득공제 후 금액  None  None
 23         None  None                   지급받은 총액에서 필요경비 차감한 금액  None  None
 24         None  None                   지급받은 총액에서 필요경비 차감한 금액  None  None
 25         None  None                                     담당자  None  None
 26         None  None                                          None  None
 27         None  None                                          None  None

      처 리 기 간   Col14   Col15          Col16    Col17
 0        즉 시    None    None           None     None
 1       None    None    None           None     None
 2               None    None           None     None
 3       None    None    None           None     None
 4       None    None  분리\n과세           None  총\n결정세액
 5         합계    None    None           None     None
 6   60000000    None                   None
 7   50000000    None                   None     None
 8       None    None    None           None     None
 9       None  총 결정세액    None             비고     None
 10      None    None    None           None     None
 11      None            None                    None
 12      None            None  (연말정산) (일용근로)     None
 13      None            None                    None
 14      None            None                    None
 15      None    None    None           None     None
 16      None    None    None           None     None
 17      None    None    None           None     None
 18      None    None    None           None     None
 19      None    None    None           None     None
 20      None    None    None           None     None
 21      None    None    None           None     None
 22      None    None    None           None     None
 23      None    None    None           None     None
 24      None    None    None           None     None
 25       연락처    None    None           None     None
 26              None    None           None     None
 27              None    None           None     None  ]

In [3]:
len(dfs)

1

In [4]:
df = dfs[0]

In [5]:
df

,발급번호,Col1,소 득 금 액 증 명(개정후)\n(2020 년 귀속),Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,Col12,처 리 기 간,Col14,Col15,Col16,Col17
0,,None,None,None,None,None,None,None,None,None,None,None,None,즉 시,None,None,None,None
1,주 소,None,,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,성 명,None,,None,None,None,None,None,주 민 등 록 번 호,None,None,None,None,,None,None,None,None
3,◇ 종합소득세 신고(결정·경정) 현황 (단위 : 원),None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,구 분,None,종합과세,None,None,None,None,None,None,None,None,None,None,None,None,분리\n과세,None,총\n결정세액
5,None,None,이자,배당,None,None,사업,근로,None,연금,None,None,기타,합계,None,None,None,None
6,수입금액,None,4000,3000,None,None,100000,30000000,None,0,None,None,-,60000000,None,,None,
7,소득금액,None,4000,3000,None,None,70000,27000000,None,0,None,None,-,50000000,None,,None,None
8,* 종합과세 소득금액은 이월결손금을 공제하지 않은 금액임\n* 분리과세 : 종합소득...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
9,구 분,소 득 발 생 처,None,None,None,None,None,None,지급받은\n총 액,None,None,소득금액,None,None,총 결정세액,None,비고,None
10,None,법인명(상호),None,None,사업자등록번호,None,None,None,None,None,None,None,None,None,None,None,None,None
11,사업소득,,None,None,,None,None,None,,None,None,,None,None,,None,,None
12,근로소득,,None,None,,None,None,None,,None,None,,None,None,,None,(연말정산) (일용근로),None
13,연금소득,,None,None,,None,None,None,,None,None,,None,None,,None,,None
14,종교인소득,,None,None,,None,None,None,,None,None,,None,None,,None,,None
15,(납세자가 신청한 증명 귀속연도 : . ～ . ) 위와 같이\n증명합니다.\n※ 위...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
16,◊ 용 어 설 명,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
17,구 분,None,수입금액·지급받은 총액,None,None,None,None,None,None,None,소 득 금 액,None,None,None,None,None,None,None
18,이 자 소 득,None,지급받은 이자소득 총액,None,None,None,None,None,None,None,지급받은 이자소득(필요경비 없음),None,None,None,None,None,None,None
19,배 당 소 득,None,지급받은 배당소득 총액,None,None,None,None,None,None,None,지급받은 배당소득(필요경비 없음),None,None,None,None,None,None,None
20,사 업 소 득,None,지급받은 총수입금액,None,None,None,None,None,None,None,총수입금액에서 필요경비 차감한 금액 (연말정산 사업소득\n포함),None,None,None,None,None,None,None
21,근 로 소 득,None,· 근로자가 지급받은 총급여액\n· 일용근로자가 지급받은 총액,None,None,None,None,None,None,None,· 총급여액에서 근로소득공제 후 금액\n· 일용근로자가 지급받은 총액,None,None,None,None,None,None,None
22,연 금 소 득,None,공적기관에서 지급받은 총연금액,None,None,None,None,None,None,None,총연금액에서 연금소득공제 후 금액,None,None,None,None,None,None,None
23,기 타 소 득,None,지급받은 기타소득 총액,None,None,None,None,None,None,None,지급받은 총액에서 필요경비 차감한 금액,None,None,None,None,None,None,None
24,종 교 인 소 득,None,종교단체에서 지급받은 총액,None,None,None,None,None,None,None,지급받은 총액에서 필요경비 차감한 금액,None,None,None,None,None,None,None
25,접수번호,None,구분,None,None,담당부서,None,None,None,None,담당자,None,None,연락처,None,None,None,None
26,,None,증명발급자,None,None,,None,None,None,None,,None,None,,None,None,None,None
27,None,None,세적담당자,None,None,,None,None,None,None,,None,None,,None,None,None,None

In [6]:
import pandas as pd

In [7]:
df1 = df.iloc[5 : 9]

In [8]:
df1

,발급번호,Col1,소 득 금 액 증 명(개정후)\n(2020 년 귀속),Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,Col12,처 리 기 간,Col14,Col15,Col16,Col17
5,None,None,이자,배당,None,None,사업,근로,None,연금,None,None,기타,합계,None,None,None,None
6,수입금액,None,4000,3000,None,None,100000,30000000,None,0,None,None,-,60000000,None,,None,
7,소득금액,None,4000,3000,None,None,70000,27000000,None,0,None,None,-,50000000,None,,None,None
8,* 종합과세 소득금액은 이월결손금을 공제하지 않은 금액임\n* 분리과세 : 종합소득...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [9]:
df2 = df.iloc[6 : 8]
df2

,발급번호,Col1,소 득 금 액 증 명(개정후)\n(2020 년 귀속),Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,Col12,처 리 기 간,Col14,Col15,Col16,Col17
6,수입금액,None,4000,3000,None,None,100000,30000000,None,0,None,None,-,60000000,None,,None,
7,소득금액,None,4000,3000,None,None,70000,27000000,None,0,None,None,-,50000000,None,,None,None

In [10]:
df2['처 리 기 간']

6    60000000
7    50000000
Name: 처 리 기 간, dtype: object

In [11]:
income = ll.income('C:/Users/user/downloads/test3.pdf')
income

d:\chatbot_main\loan_screening_pdf_loader.py:22: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  income = income_[13]

50000000.0

In [12]:
type(income)

float

In [13]:
df3 = df.loc[7]

In [14]:
df3

발급번호                                 소득금액
Col1                                 None
소 득 금 액 증 명(개정후)\n(2020 년 귀속)        4000
Col3                                 3000
Col4                                 None
Col5                                 None
Col6                                70000
Col7                             27000000
Col8                                 None
Col9                                    0
Col10                                None
Col11                                None
Col12                                   -
처 리 기 간                          50000000
Col14                                None
Col15
Col16                                None
Col17                                None
Name: 7, dtype: object

In [15]:
df3[13]

C:\Users\user\AppData\Local\Temp\ipykernel_15488\3858090741.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df3[13]

'50000000'

In [3]:
df2 = ll.table2df('C:/Users/user/downloads/test4.pdf')
df2

[                                                 소 속          성공회대      직 위  \
 0                                                성 명           응우옌  생 년 월 일
 1                                              입사연월일  2021년 3월 22일   주민등록번호
 2                                                주 소            수원     None
 3  상기와 같이 현재 재직하고 있음을 증명함.\n( 용 도 : 대출 )\n서울우유 고객...          None     None

                   학생
 0  1998 년 02월 10\n일생
 1     111111-2222222
 2               None
 3               None  ]

In [4]:
df21 = df2[0]

In [5]:
df21

,소 속,성공회대,직 위,학생
0,성 명,응우옌,생 년 월 일,1998 년 02월 10\n일생
1,입사연월일,2021년 3월 22일,주민등록번호,111111-2222222
2,주 소,수원,None,None
3,상기와 같이 현재 재직하고 있음을 증명함.\n( 용 도 : 대출 )\n서울우유 고객...,None,None,None

In [7]:
df21.loc[1]

소 속              입사연월일
성공회대      2021년 3월 22일
직 위             주민등록번호
학생      111111-2222222
Name: 1, dtype: object

In [8]:
df2L = df21.loc[1]

In [9]:
df2L

소 속              입사연월일
성공회대      2021년 3월 22일
직 위             주민등록번호
학생      111111-2222222
Name: 1, dtype: object

In [10]:
s = df2L[1]

C:\Users\user\AppData\Local\Temp\ipykernel_18580\4121049553.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s = df2L[1]

In [11]:
s

'2021년 3월 22일'

In [13]:
import datetime as dt

In [14]:
now = dt.datetime.now()
now

datetime.datetime(2024, 12, 6, 14, 21, 8, 33442)

In [15]:
now_date = now.strftime("%Y-%m-%d")
now_date

'2024-12-06'

In [16]:
type(now_date)

str

In [17]:
now_datetime = dt.datetime.strptime(now_date, '%Y-%m-%d')

In [18]:
s

'2021년 3월 22일'

In [19]:
type(s)

str

In [20]:
sdt = dt.datetime.strptime(s, '%Y년 %m월 %d일')
sdt

datetime.datetime(2021, 3, 22, 0, 0)

In [21]:
during = now_datetime - sdt

In [22]:
dd = during.days

In [23]:
dd

1355

In [24]:
type(dd)

int

In [2]:
y_len = ll.emp_length('C:/Users/user/downloads/test4.pdf')
y_len

KeyError: 0